<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Cs/admin.css">

</head>
<body>
    <div class="container">
        <h3>BIENVENIDO ADMINISTRADOR</h3>
        <form id="add-user-form">
            <input type="text" id="nombre" placeholder="Nombre" required>
            <input type="text" id="apellido" placeholder="Apellido" required>
            <input type="text" id="cedula" placeholder="Cédula" required>
            <input type="date" id="fechaNacimiento" placeholder="Fecha de Nacimiento" required>
            <input type="tel" id="telefono" placeholder="Teléfono" required>
            <input type="email" id="emailR" placeholder="Correo electrónico" required>
            <input type="password" id="contraseñaR" placeholder="Contraseña" required>
            <input type="text" id="direccion" placeholder="Dirección" required>
            <button type="submit">Agregar Usuario</button>
        </form>
        <button class="button" type="button" id="boton_salir">SALIR</button> 
        <a class="button" href="../Templates/Recuperar.html">Recuperar Contraseña</a> 
        <button class="button" type="button" id="eliminar">Eliminar Cuenta</button>   
        <a class="button" href="../Templates/mostrar_usuarios.html">Mostrar Usuarios</a> 

    </div>   
    <div class="footer">
        <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </div>
    <script type="module" src="../Controllers/admin.js"></script>
</body>
</html>