<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Cs/hmstyle.css">

</head>
<body>
    <div class="container">
        <h3>BIENVENIDOS</h3>
        <p>¡Gracias por visitar nuestra página! </p>
        <button type="button" id="boton_salir">SALIR</button>
    </div>   
    <div class="footer">
        <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </div>
    <script type="module" src="/Controllers/home1.js"></script>
</body>
</html>