<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="../Cs/reg_style.css"> 
</head>
<body>
    <div>
        <h2>VIEW REGISTER USERS</h2>
        <br<table class="table">
            <thead class="table-light">
              ...
            </thead>
            <tbody>
              ...
            </tbody>
          </table>
        <form action="#" method="post">
            <div>
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" name="cedula" >
            </div>
            <div>
                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" name="nombre" >
            </div>
            <div>
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" >
            </div>
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" >
            </div>
            <div>
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" >
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="emailreg" name="email" >
            </div>
            <div>
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="passwordreg" name="contrasena" >
            </div>
            <input type="submit" id="registro" value="Registrarse">
        </form>
    </div>
    <script type="module" src=""></script>
</body>
</html>